@model WebApplication5.Models.ViewModel.PlayerViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<div class="row">
    <div class="col">
        @using (Html.BeginForm("Create", "Players", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken();
            <h2 class="display-4">Add New Player</h2>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row mb-2">
                @Html.LabelFor(x => x.PlayerName, htmlAttributes: new { @class = "col-form-label col-2" })
                <div class="col-8">
                    @Html.EditorFor(x => x.PlayerName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-2">
                    @Html.ValidationMessageFor(x => x.PlayerName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row mb-2">
                @Html.LabelFor(x => x.PlayerGrade, htmlAttributes: new { @class = "col-form-label col-2" })
                <div class="col-8">
                    @Html.EnumDropDownListFor(x => x.PlayerGrade, "---Select---", htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-2">
                    @Html.ValidationMessageFor(x => x.PlayerGrade, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row mb-2">
                @Html.LabelFor(x => x.SportsId, htmlAttributes: new { @class = "col-form-label col-2" })
                <div class="col-8">
                    @Html.DropDownListFor(x => x.SportsId, ViewBag.sports as SelectList, "---Select---", htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-2">
                    @Html.ValidationMessageFor(x => x.SportsId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row mb-2">
                @Html.LabelFor(x => x.JoinDate, htmlAttributes: new { @class = "col-form-label col-2" })
                <div class="col-8">
                    @Html.EditorFor(x => x.JoinDate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                </div>
                <div class="col-2">
                    @Html.ValidationMessageFor(x => x.JoinDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row mb-2">
                @Html.LabelFor(x => x.Picture, htmlAttributes: new { @class = "col-form-label col-2" })
                <div class="col-8">
                    @Html.TextBoxFor(x => x.Picture, new { @class = "form-control", type = "file" })
                </div>
                <div class="col-2">
                    @Html.ValidationMessageFor(x => x.Picture, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-10 offset-2">
                    <input type="reset" class="btn btn-secondary" value="Reset Values" />
                    <input type="submit" class="btn btn-primary" value="Save Data" />
                </div>
            </div>
        }
    </div>
    </div>
