@model IEnumerable<WebApplication5.Models.Player>

@{
    ViewBag.Title = "Index";
}
@using PagedList;
@using PagedList.Mvc;
<h2 class="display-4">Player List</h2>
<div class="d-flex justify-content-end">
 
    <button onclick="location.href='@Url.Action("Create", "Players")'" class="btn btn-primary btn-sm"
            style="text-decoration:none;">
        <i class="fa fa-plus"></i> Add New
    </button>
</div>

<div class="row">
    <div class="col">
        <table class="table table-bordered table-striped table-sm,mt-1 text-center">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(x => x.PlayerName)</th>
                    <th>@Html.DisplayNameFor(x => x.Sports.SportsName)</th>
                    <th>@Html.DisplayNameFor(x => x.JoinDate)</th>
                    <th>@Html.DisplayNameFor(x => x.PlayerGrade)</th>
                    <th>Picture</th>
                    <th> Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(x => item.PlayerName)</td>
                        <td>@Html.DisplayFor(x => item.Sports.SportsName)</td>
                        <td>@Html.DisplayFor(x => item.JoinDate)</td>
                        <td>@Html.DisplayFor(x => item.PlayerGrade)</td>
                        <td>
                            <img src="@Url.Content(item.PicturePath)" width="32" 
                                 style="border-radius: 8px;" />
                        </td>
                        <td>
                            <button onclick="location.href='@Url.Action("Edit", "Players",
                                                           new {id=item.PlayerId})'"
                                    class="btn btn-success btn-sm"><i class="fa fa-pencil"></i></button>
                            <button onclick="location.href='@Url.Action("Delete", "Players",
                                                           new {id=item.PlayerId})'"
                                    class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                }
        </table>
        <div class="d-flex justify-content-end">
            @Html.PagedListPager(Model as IPagedList,page=> Url.Action("Index", new {page}))
        </div> 
    </div>
</div>
@section styles{
    <link href="~/Content/PagedList.css" rel="stylesheet" />
}